* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    color: #fff;
}

#divider {
    color: #717171;
    border: 2px solid;
    margin-top: 0px;
    margin-bottom: 10px;
}

/* MAIN BOX */
.calculator-container {
    background-color: #f7f7f7;
    border: 4px solid #717171;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

/* INPUTS BOX */
.calculator-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* TITLE */
.calculator-title {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #717171;
    text-align: center;
}

/* BOX TITLE */
.calculator-label {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 5px;
    color: #717171;
}

/* INPUT BOXES */
.calculator-input, .calculator-select {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #e37263;
    border-radius: 6px;
    background-color: #2e2e2e;
    color: #f7f7f7;
    width: 100%;
}

.calculator-input:focus, .calculator-select:focus {
    outline: none;
}

#flakeInputSection {
    margin-bottom: 10px;
}

#flakeInputSection label{
    margin-bottom: 5px;
}

#flakeCoverage {
    margin-bottom: 0px;
}

/* CALCULATE BUTTON */
.calculator-button {
    background-color: #e37263;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculator-button:hover {
    background-color: #c6726c;
}

/* RESULTS */
.calculator-results {
    font-size: 1.3rem;
    margin-top: 15px;
    text-align: left;
    color: #717171;
}

.calculator-results p {
    margin-top: 5px;
    margin-bottom: 0px;
}

@media (max-width: 600px) {
    .calculator-container {
        padding: 25px;
    }
}